@use "../settings/variables";

.m-dropdown {
    max-height: 2.5rem;
    position: relative;
    border: none;
    outline: none;
    i:hover {
        color: variables.$primary-color;
    }
    &__box {
        background: white;
        margin-right: 20px;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 2.3em;
        width: 150px;
        z-index: 2;
        border-radius: 10px;
        ul {
            list-style: none;
            margin: 0;
            padding: 1em;
        }
        li {
            font-size: 13px;
            padding-top: 0.2em;
            cursor: pointer;
            color: variables.$gris-color;
        }
        // li:nth-child(1),
        // li:nth-child(2) {
            
        // }
        // li:last-child {
        //     color: variables.$danger-color;
        // }
    }
}

.m-dropdown__box:before {
    content:"";
    position: absolute;
    right: 97px;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent white transparent;
    z-index: 2;
}

@media (max-width: variables.$max-width-lg) {

    .m-dropdown {
        max-height: 2.5rem;
        position: relative;
        &__box {
            margin-right: -20px;
            margin-left: -73px;
        }
    }

    .m-dropdown__box:before {
        right: 26px;
    }
}

