@use "../settings/variables";

.m-menu {
    display: block;
    padding: 0;
    list-style: none;
    margin: 1em 0;
    li {
        cursor: pointer;
        > a {
            display: block;
            text-decoration: none;
            font-size: 15px;
            font-weight: 500;
            padding: 0.3em 0.5em;
            color: variables.$gris-color;
            border-radius: 4px;
        }
        i {
            font-size: 14px;
            width: 22px;
        }
    }
}

.a-link-menu--active {
    background: variables.$accent-color-active;
}

