@use "../settings/variables";

.a-box-no-data {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 14px;
        color: variables.$primary-color;
        font-weight: bold;
    }
}