@use "../settings/variables";

.a-dotted-line {
    margin: 2rem 0;
    height: 1px;
    background: repeating-linear-gradient(to right, variables.$primary-color 0, variables.$primary-color 10px, transparent 10px, transparent 12px);
    text-align: center;
    position: relative;
    i {
        color: variables.$primary-color;
        z-index: 2;
        font-size: 28px;
        cursor: pointer;
        position: absolute;
        margin-top: -13px;
        background: variables.$accent-color;
    }
}